.ratingBoxRow {
  display: flex;
  flex-direction: row;
  height: 32px;
  align-items: center;
}

.ratingbricks {
  max-height: 25px;
  display: flex;
  flex-direction: row;
}

.ratingbricks > * {
  width: 48px;
  height: 48px;
  margin: auto 8px;
}
